In [19]:
salary_df = pd.read_csv('20-21salaries.csv')

/Users/eunicepark/opt/anaconda3/envs/myenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3417: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [20]:
salary_df

,GID,"Last, First",First Last,Date,Team,Opp,H/A,GameID,GTime(ET),Team pts,...,DD Sal,DD Change,YH Sal,YH Change,FD pos,DK pos,DD pos,YH pos,ADI,VMI
0,5679,"Eubanks, Drew",Drew Eubanks,20210519.0,sas,mem,A,20210519-sas-mem,19.5,96.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,65.38,-1.22
1,5679,"Eubanks, Drew",Drew Eubanks,20210516.0,sas,pho,H,20210516-pho-sas,14.0,121.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,63.83,0.33
2,5679,"Eubanks, Drew",Drew Eubanks,20210515.0,sas,pho,H,20210515-pho-sas,14.0,103.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,63.69,1.51
3,5679,"Eubanks, Drew",Drew Eubanks,20210513.0,sas,nyk,A,20210513-sas-nyk,19.5,98.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,67.25,-1.50
4,5679,"Eubanks, Drew",Drew Eubanks,20210512.0,sas,bkn,A,20210512-sas-bkn,20.0,116.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,67.44,-2.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38766,A comparable file for the 2019-20 NBA season i...,//rotoguru1.com/cgi-bin/nba-dhd-2020.pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38767,A comparable file for the 2018-19 NBA season i...,//rotoguru1.com/cgi-bin/nba-dhd-2019.pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38768,A comparable file for the 2017-18 NBA season i...,//rotoguru1.com/cgi-bin/nba-dhd-2018.pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38769,A comparable file for the 2016-17 NBA season i...,//rotoguru1.com/cgi-bin/nba-dhd-2017.pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38770,A comparable file for the 2015-16 NBA season i...,//rotoguru1.com/cgi-bin/nba-dhd-2016.pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
salary_df.columns.values

array(['GID', 'Last, First', 'First  Last', 'Date', 'Team', 'Opp', 'H/A',
       'GameID', 'GTime(ET)', 'Team pts', 'Opp pts', 'Start', 'Minutes',
       'GP', 'active', 'FDP', 'DKP', 'DDP', 'YHP', 'Stats', 'DoubleD',
       'TripleD', 'FD Sal', 'FD Change', 'DK Sal', 'DK Change', 'DD Sal',
       'DD Change', 'YH Sal', 'YH Change', 'FD pos', 'DK pos', 'DD pos',
       'YH pos', 'ADI', 'VMI'], dtype=object)

In [22]:
salary_df_clean = salary_df.dropna(subset=['DK Sal'])

In [23]:
df = salary_df_clean

In [24]:
df['Date'] = df['Date'].apply(lambda x: int(x) if x == x else x)
df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d', errors='coerce')

/Users/eunicepark/opt/anaconda3/envs/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/eunicepark/opt/anaconda3/envs/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
df

,GID,"Last, First",First Last,Date,Team,Opp,H/A,GameID,GTime(ET),Team pts,...,DD Sal,DD Change,YH Sal,YH Change,FD pos,DK pos,DD pos,YH pos,ADI,VMI
0,5679,"Eubanks, Drew",Drew Eubanks,2021-05-19,sas,mem,A,20210519-sas-mem,19.5,96.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,65.38,-1.22
1,5679,"Eubanks, Drew",Drew Eubanks,2021-05-16,sas,pho,H,20210516-pho-sas,14.0,121.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,63.83,0.33
2,5679,"Eubanks, Drew",Drew Eubanks,2021-05-15,sas,pho,H,20210515-pho-sas,14.0,103.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,63.69,1.51
3,5679,"Eubanks, Drew",Drew Eubanks,2021-05-13,sas,nyk,A,20210513-sas-nyk,19.5,98.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,67.25,-1.50
4,5679,"Eubanks, Drew",Drew Eubanks,2021-05-12,sas,bkn,A,20210512-sas-bkn,20.0,116.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,67.44,-2.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38759,4817,"Cauley-Stein, Willie",Willie Cauley-Stein,2021-01-03,dal,chi,A,20210103-dal-chi,21.0,108.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,64.33,0.03
38760,4817,"Cauley-Stein, Willie",Willie Cauley-Stein,2021-01-01,dal,mia,H,20210101-mia-dal,20.0,93.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,64.52,-0.16
38761,4817,"Cauley-Stein, Willie",Willie Cauley-Stein,2020-12-30,dal,cha,H,20201230-cha-dal,21.5,99.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,63.92,0.81
38763,4817,"Cauley-Stein, Willie",Willie Cauley-Stein,2020-12-25,dal,lal,A,20201225-dal-lal,21.0,115.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,66.34,-2.57
38764,4817,"Cauley-Stein, Willie",Willie Cauley-Stein,2020-12-23,dal,pho,A,20201223-dal-pho,23.5,102.0,...,NaN,NaN,10.0,NaN,5.0,5.0,NaN,5.0,63.42,0.58

In [26]:
df.to_csv('salary.csv')

### additional links for salary to check: https://swishanalytics.com/optimus/nba/fanduel-draftkings-live-scoring?date=2023-04-18